body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh; 
  }
  
  th {
    width: 120px;
    padding-top:25px;
    padding-bottom:30px;
  }
  
  td {
    padding: 5px;
  }
  
  .time {
    height: 40px;
  }

.Event-green{
  background-color: rgb(155, 244, 198);
}

.Event-pink{
  background-color: pink;
}

.Event-blue{
  background-color: rgb(118, 175, 255);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}